/*
.avatar {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .65);
    font-size: 14px;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    !*background: #ccc;*!
    width: 32px;
    height: 32px;
    line-height: 32px;
}

.avatar-square {
    border-radius: 4px;
}

.avatar-circle {
    border-radius: 50%;
}
*/
